@font-face
  font-style: normal
  font-family: "Meslo LG"
  src: local("Meslo LG S"), url("../lib/meslo-LG/MesloLGS-Regular.ttf") format("truetype")

@font-face
  font-style: sans-serif
  font-family: "Inter"
  src: local("Inter"), url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap")