<footer id="footer">
  <span><%= config.author || config.title %></span>
  <span><%= (theme.copyright && theme.copyright.start_year) ? theme.copyright.start_year : new Date().getFullYear() %> — <%= (theme.copyright && theme.copyright.end_year) ? theme.copyright.end_year : new Date().getFullYear() %></span>
</footer>
